@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
}

.topbar-outer {
    border-bottom: 0.5px solid rgba(128, 128, 128, .1);
    ;
}

.topbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px;
}

.fas {
    color: #076CEC;
}

.toplogo {
    width: 50px;
}

.info {
    width: 100%;
}

.info ul {
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
    align-items: baseline;
}

.info ul li {
    list-style: none;
    padding: 0 10px;
    color: #3F5265;
    font-size: 13px;
}

.contain {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 5px;
}

.navul {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navul ul li {
    list-style: none;
}

.navul ul li a {
    text-decoration: none;
    color: #33475b
}

.quote {
    background-color: #1571EC;
    color: white;
    padding: 7px 30px;
    border-radius: 5px;
    border: none;
    outline: none;
}

.box {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 10px 24px;
}

.hero {
    background-image: url('../images/hero.svg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 700px;
    position: relative;
    overflow: hidden;
    background-color: #FFF2ED;
    padding-bottom: 10px;
}

.hero-txt {
    position: absolute;
    width: 30%;
    top: 100px;
    left: 350px
}

#quote1 {
    padding: 15px 30px;
}

#contact {
    background-color: #f2f2f2;
    padding: 20px;
    color: #33475b;
}

.title {
    text-align: center;
    margin: 20px;
}

#footer {
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#footer a {
    text-decoration: none;
    color: #ff7a5a;
}

.service {
    border: 1px solid #1571ec;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    box-shadow: 0 3px 15px rgba(0, 0, 0, .5);
    z-index: 10000;
    border: none;
}

.service img {
    width: 80px;
}

.service h4 {
    margin-top: 20px;
    font-family: nunito, sans-serif;
}

.service-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px !important;
    margin: 50px;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px;
}

.btn:focus {
    outline: none !important;
}

.btn {
    margin-right: 5px;
    border: none;
}

.title-box {
    background-color: #1571EC !important;
}

.quote2 {
    background-color: #FF5733;
}